.color-Style{
  background-color: var(--color-input);
}

.carta-background {
  width: 200px;
  height: 150px;
  border-radius: 10px;
  background: var(--color-input);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: black;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}
.carta-background:hover {
  cursor: pointer;
  background: var(--color-logo);
}

.dialog-obs {
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: absolute;
  top: calc(50% - 150px);
  height: 300px;
  width: 400px;
  background-color: var(--color-darkBlue);
  color: white;
  outline: none;
}

.dialog-obs > textarea {
  border: none;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--color-input);
  outline: none;
  padding: 10px;
  resize: none;
}

.dialog-obs > h6 {
  font-size: 24px;
}

.dialog-cart {
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: fixed;
  top: calc(50% - 220px);
  width: 400px;
  height: 550px;
  background-color: var(--color-darkBlue);
  color: white;
  outline: none;
  overflow: auto;
}

.dialog-article:nth-child(even) {
  background-color: var(--color-background);
}

@media screen and (max-width: 768px) {
  .carta-background {
    width: 150px;
    height: 105px;
  }

  .mesas-total {
    width: 100px;
    height: 29px;
  }

  .dialog-obs {
    top: calc(50% - 100px);
    width: 300px;
    height: 250px;
  }

  .dialog-obs > textarea {
    height: 150px;
  }
  .dialog-obs > h6 {
    font-size: 18px;
  }
  
  .dialog-cart {
    width: 100%;
    top: calc(50% - 150px);
    max-height: 450px;
    overflow-y: auto;
  }
}

.btn-success {
  background-color: #4CAF50; 
  color: #fff; 
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  height: 40px;
  margin-right: 260px;
}

.btn-success:hover {
  background-color: #45a049; 
}

@media screen and (max-width: 768px) {
  .search-input {
    width: 200px; 
    margin-left: 20px;
  }
}