@import 'global.css';


.mesa-vacia {
  background: var(--color-smoke);
}
.mesa-ocupada {
  background: var(--color-input);
}
.mesas-background {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: black;
  margin-top: 30px;
  transition: background-color 0.3s ease;
}

.mesas-background:hover{
  cursor: pointer;
  background: var(--color-logo);
}
.mesas-total {
  width: 125px;
  height: 29px;
  margin: auto;
  background: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.dialog-mesero input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  background: var(--color-input);
  border: none;
  outline: none;
  padding-left: 10px;
  margin-bottom: 10px;
}

.dialog-mesero {
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: fixed;
  top: calc(50% - 200px);
  width: 400px;
  /* height: 550px; */
  background-color: var(--color-darkBlue);
  color: white;
  outline: none;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .mesas-background {
    width: 150px;
    height: 105px;
  }
  .mesas-total {
    width: 100px;
    height: 29px;
  }
  .dialog-mesero {
    top: calc(50% - 180px);
    width: 300px;
  }
  .dialog-mesero input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    background: var(--color-input);
    border: none;
    outline: none;
    padding-left: 10px;
    margin-bottom: 10px;
  }
}